/* Navigation  */
#navbar{
    flex-direction: column;
}


/* Home Section  */
#home{

}

/* Services section  */
#services {
    flex-direction: column;

}

#services .box{
    
}

/* Client Section  */
#clients{
    overflow: hidden;
}


/* Contact Section  */


/* footer  */