<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, harum?</p>
        <p>Ratione deleniti, iusto eos repellat animi ex ipsam recusandae maxime!</p>
        <p>Dignissimos quod explicabo rem neque labore fugiat sint adipisci eaque.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>