@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    background-color: hsl(0, 0%, 95%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 12px;
    overflow: hidden;
    margin: 2rem;
}


.box{
    padding: 50px;
}

h1{
    font-size: 30px;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    margin-top: 20px;
    margin-bottom: 30px;
}

p{
    color: hsl(0, 0%, 95%);
    font-size: 13px;
    line-height: 1.3rem;
    margin-bottom: 65px;
}

button{
    background-color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    padding: 12px 30px;
    border-radius: 30px;
    transition: all .4s ease-in-out;
}

.box button:hover{
    color: hsl(0, 0%, 95%);
    background: transparent;
}


.sedans{
    background-color: hsl(31, 77%, 52%);
}

.sedans button{
    color: hsl(31, 77%, 52%);
}


.suvs{
    background-color: hsl(184, 100%, 22%);
}

.suvs p{
    font-size: 12px;
}

.suvs button{
    color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
}

.luxury button{
    color: hsl(179, 100%, 13%);
}

@media only screen and (max-width: 768px){
    .wrapper{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 425px){

    .wrapper{
        margin: 2rem 0.5rem;
    }

    .box{
        padding: 20px;
    }
}
