.container1{
    border: 2px solid red;
    width: 50%;
    margin: 20px auto;
    overflow: hidden;
   
}

.c1{
    text-align: center;
}

.box{
    border: 2px solid green;
    height: 100px;
    width: 50%;
    margin: 5px auto;
    
}

/* ___________________________________________________________________ */

.container2{
    border: 2px solid red;
    display: inline;
    width: 50%;
}

.c2{
    text-align: center;
}

.boxF{
    border: 2px solid green;
    display: inline;
    width: 20%;
    
    
}

/* ___________________________________________________________________ */

.container3{
    border: 2px solid red;
    display: inline-block;
    width: 50%;
}


.boxS{
    border: 2px solid green;
    display: inline-block;
    width: 20%;
    
    
}
